<nav>
    <ul>
        <li>
            <a routerLink="/landing" routerLinkActive = "active">landing</a>
        </li>
        <li>
            <a routerLink="/users" routerLinkActive = "active">users</a>
        </li>
        <li>
            <a routerLink="/auth" routerLinkActive = "active">auth</a>
        </li>
        <li>
            <a routerLink="/private" routerLinkActive = "active">private</a>
        </li>
        <li>
            <a routerLink="/yolo" routerLinkActive = "active">yolo</a>
        </li>
    </ul>
</nav>